/* *{
    background-color: white;
} */

.login_logo{
    width:150px;
    object-fit: contain;
    margin-top: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:20px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.login_form{
    margin-top: 20px;
    border:1px solid rgb(182, 179, 179);
    padding: 20px;
    width:350px;
    background-color: white;
}


.form{
    display: flex;
    flex-direction: column;
}


.create{
    margin-top: 20px;
    width:100%;
    border: 1px solid black;
    background-color: #dad8d4;
    border-radius: 5px;
}

.signin{
    border: 1px solid black;
    background-color: #F3CE71;
    border-radius: 5px;
    
}